.abc{
    color: blue;
}
#xyz{
    color: brown;
}
h1{
    padding: 10px;
    color: aqua;
    align-items: center;
    border-top: 10px double red;
    border-bottom: 10px double red;
    border-left: 10px double red;
    border-right: 10px double red;
}
.din{
    border-top: 20px double red;
    border-bottom: 15px double red;
    border-left: 10px double red;
    border-right: 10px double red;
    padding: 10%;
}
#do{
    border-top: 10px double red;
    border-bottom: 10px double red;
    border-left: 5px double red;
    border-right: 5px double red;
    padding: 5%;

}
.play2{
    text-align: left;
    padding: 2%;
    font-size: 15px;
    color: rgb(210, 45, 30);

}
body{
    margin: 2%;
    
    
}
#ali{
    text-decoration: overline 7px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }