.abc{
    color: blue;
}
#xyz{
    color: brown;
}
h1{
    color: aqua;
    align-items: center;
}
.play2{
    text-align: left;
    padding-left: 20%;
    font-size: 30px;
    color: chocolate;

}
body{
    margin: 20%;
    
}

.selector-for-some-widget {
    box-sizing: content-box;
  }